*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header
{
    width: 100%;
    height: 100px;
    border-radius: 0 0 70% 70%;
    background-color:#4A90E2 ;
}
.header p
{
    height: 100%;
    color: #fff;
    font-size: 20;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}